form ol {
	list-style: none;
	margin: 1em 0;
	padding:0;
}

form li {
	margin: 0;
	padding: 0;
}

label {
	float: left;
	width: 8em;
}

input + label {
	float: none;
}

input:not([type="checkbox"]) {
	border: 1px solid #ccc;
	height: 15px;
	border-radius: 6px;
	padding: 10px;
	color:#e40045;
	width: 20em;
}

form > div {
	margin-bottom: 5px;
	line-height: 35px
}

form input:before {
	content: 'x';
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 15px;
	height: 15px;
}
