#keyboard {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	-ms-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

#keyboard.opened {
	height: 250px;
}
#keyboard ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#keyboard > ol {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
}

#keyboard ol ol {
	clear: left;
	float: left;
	margin-bottom: 3px;
}

#keyboard li li {
	float: left;
	width: 40px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	margin-left: 3px;
	border-radius: 2px;
}

#keyboard li li:active {
	background-color: #fff;
	color: #000;
}

#keyboard [data-key="space"] {
	width: 220px;
	margin-left: 140px;
}

#keyboard li li.active {
	background-color: #fff;
	color: #000;
}

#keyboard li:nth-child(2) ol {
	margin-left: 15px;
}

#keyboard li:nth-child(3) ol {
	margin-left: 30px;
}