@font-face {
	font-family: "MAN Global";
	src: url("../fonts/ManGlobal-Regular.ttf") format("truetype");

	font-weight: 400;
}

@font-face {
	font-family: "MAN Global";
	src: url("../fonts/ManGlobal-Bold.ttf") format("truetype");

	font-weight: 700;
}

html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;

	content-zooming: none;
	-ms-content-zooming: none;
	touch-action:pan-y pan-x;
	-ms-touch-action:pan-y pan-x;
}

* {
	content-zooming: none;
	-ms-content-zooming: none;
	touch-action:pan-y pan-x;
	-ms-touch-action:pan-y pan-x;
}

h1{
	padding:10% 6% 2% 6%;
	position:relative;
	margin:0px;
	font-size:1.8vw;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#979797;
	line-height: 30px;

	background-image:url("../img/spacer.png");
	-webkit-background-size:88% auto;
	background-size:88% auto;
	background-position:bottom center;
	background-repeat:no-repeat;

}
h1>span{
	padding:2% 0% 0% 0%;
	font-size:1.1vw;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
}


td{
	vertical-align:top;
}

h2{
	padding:4% 6% 2% 6%;
	margin:0px;
	font-size:1.4vw;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#e40045;

}
p{
	padding:2% 6% 2% 6%;
	margin:0px;
	font-size:0.8vw;
	line-height:1vw;
	color:#979797;

}
ul{
	list-style-type:square;
}
ul li,table,tr,td{
	font-size:0.8vw;
	line-height:1.2vw;
	color:#979797;

	vertical-align:top;

}

ul li{
	font-size:0.8vw;
	line-height:1.4vw;
	color:#979797;

}

a{color:color:#979797;}
a:hover{color:color:#979797;}

.two_colums{
	//column-count: 2;
}

.linkBox{
	font-size:1vw;
	line-height:1.6vw;
	color:#e40045;


}
.paraList_two{
	margin-top:0px;
	padding-top:0px;
	margin-right:6%;
	padding-left:6%;

}

.paraList{
	padding:0% 6% 2% 6%;
	margin-left:2.5%;
	margin-top:0%;
}

.spacer{
	height:2px;
	margin:2px 0px 2px 0px;
	overlfow:hidden;
	background-image:url("../img/spacer.png");
	-webkit-background-size:80% auto;
	background-size:80% auto;
	background-position:bottom center;
	background-repeat:no-repeat;
}

.jobs_icon_maps{
	position:absolute;
	margin-top:-2.7vw;
	right:15%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-size:1vw;
	color:#979797;

}

.jobs_icon_form{
	position:absolute;
	margin-top:-2.7vw;
	right:15%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-size:1vw;
	color:#979797;

}


#jobs_icon_maps_img{
	width:6vw;
}

#jobs_icon_form_img{
	width:7vw;
}
.paraTable{
	margin:2% 6% 2% 6%;
}

.paraTable td{
	padding-right:10px;
}

#main_view{
	width:83%;
	height:100%;
	background-color:black;
	float:left;
}
#header_view{
	width:16.66667%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-left:1px solid rgb(185, 185, 185);
	position:absolute;
	z-index:100;
	right:0;
	height:100%;
	background-color:#cfcfcf;
	float:left;
	background-image:
		linear-gradient(
			-13deg,
			rgb( 255, 255, 255) 0%,
			rgb( 178, 178, 178) 48%,
			rgb( 229, 229, 229) 75%,
			rgb( 220, 220, 220) 100%
		);
	background-repeat:no-repeat;
	-webkit-background-size:auto auto;
	background-size:auto auto;
	background-position:0 0;
	box-shadow: 12px 0 12px 12px rgba(0, 0, 0, 0.45);
}

#header_view:after {
	content: "";
	position: absolute;
	display: block;
	bottom: 0;
	width: 100%;
	height: 14vh;
	background-image: url("../img/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

#header_view_navi div{
	height:5vw;
	-webkit-background-size:25 auto;
	background-size:25 auto;
	opacity: 0.3;
}

#header_view_navi div {
	background-repeat:no-repeat;
	background-position:center center;
}

#header_view_navi div.active {
	opacity: 1;
}

#header_view_navi div[data-navi="home"] {
	background-image:url("../img/navi_home.png");
}

#header_view_navi div[data-navi="jobs"] {
	background-image:url("../img/navi_berufe.png");
}

#header_view_navi div[data-navi="about"] {
	background-image:url("../img/navi_man.png");
}

#header_view_navi div[data-navi="talent"] {
	background-image:url("../img/navi_talent.png");
}

#main_view_1{
	width:100%;
	height:100%;


}

#wrapper_mainNavi {
	width:105%;
	height:100%;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	background-image:url("../img/gruppe.png"), -webkit-gradient(linear, left top, left bottom, from(rgb( 205, 205, 205)), color-stop(70%, rgb( 128, 128, 128)), color-stop(75%, rgb( 179, 179, 179)), to(rgb( 199, 199, 199)));
	background-image:url("../img/gruppe.png"), -webkit-linear-gradient(top, rgb( 205, 205, 205) 0%, rgb( 128, 128, 128) 70%, rgb( 179, 179, 179) 75%, rgb( 199, 199, 199) 100%);
	background-image:url("../img/gruppe.png"),linear-gradient(to bottom, rgb( 205, 205, 205) 0%,rgb( 128, 128, 128) 70%,rgb( 179, 179, 179) 75%, rgb( 199, 199, 199) 100%);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
	-webkit-transition:-webkit-transform 0.7s, background-position 0.7s;
	transition:transform 0.7s, background-position 0.7s;
	/*
	border-radius:10px;
	*/

}




#scroller_navi {
	width:100vw;
	overflow:hidden;
	height:100%;
	padding:0;
}


#scroller_navi ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller_navi li {
	text-align:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	float:left;
	width:33.333vw;
	height:100%;
	font-family:georgia;

	font-size:18px;
	line-height:140%;
	position:relative;
}

.imgQR{
	width:90%;
}

.imgQRJob,
.multiple-qr-images {
	width:16%;
	margin:-9% 1% 0% 0%;
	right:0px;
	position:absolute;
}

.multiple-qr-images {
	display: inline-block;
	height: 120px;
}

.multiple-qr-images img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#scroller_navi li div:nth-child(2){
	position:absolute;
	font-size:5.5vw;
	color:white;
	text-align:left;
	width:100%;
	text-transform:uppercase;
	white-space: nowrap;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 10px black;
	 color: rgba(255,255,255, 1);
	bottom:2%;
	left:9%;

	-webkit-transform-origin:0px 0px;

	-ms-transform-origin:0px 0px;

	transform-origin:0px 0px;
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg)
}

#scroller_navi li div:nth-child(1){
	width:70%;
	height:100%;
	position:absolute;
	bottom:0%;
	right:0%;
	-webkit-transition:-webkit-transform 0.7s;
	transition:transform 0.7s;


}

#scroller_navi li:nth-child(1){
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba( 70, 70, 70, 0.90)), color-stop(75%, rgba( 70, 70, 70, 0.95)));
	background-image: -webkit-linear-gradient(bottom, rgba( 70, 70, 70, 0.90) 20%, rgba( 70, 70, 70, 0.95) 75%);
	background-image: linear-gradient(to top, rgba( 70, 70, 70, 0.90) 20%, rgba( 70, 70, 70, 0.95) 75%);
	-webkit-box-shadow: 6px -0px 30px -3px black;
	box-shadow: 6px -0px 30px -3px black;

}

#scroller_navi li:nth-child(3){
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba( 70, 70, 70, 0.90)), color-stop(75%, rgba( 70, 70, 70, 0.95)));
	background-image: -webkit-linear-gradient(bottom, rgba( 70, 70, 70, 0.90) 20%, rgba( 70, 70, 70, 0.95) 75%);
	background-image: linear-gradient(to top, rgba( 70, 70, 70, 0.90) 20%, rgba( 70, 70, 70, 0.95) 75%);
	-webkit-box-shadow: -6px -0px 30px -3px black;
	box-shadow: -6px -0px 30px -3px black;
}




#main_view_1_1, #main_view_1_2, #main_view_1_3{
	width:33vw;
	height:100%;
	float:left;
}



#main_view_1 {

	height:100%;
	-webkit-transform:translateX(110%);
	-ms-transform:translateX(110%);
	transform:translateX(110%);
	-webkit-transition:-webkit-transform 0.6s;
	transition:transform 0.6s;

	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:2;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	-webkit-box-shadow: -6px -0px 30px -3px black;
	box-shadow: -6px -0px 30px -3px black;
	border-left:1px solid black;
	/*
	border-radius:10px;
	*/

}

#main_view_1 div.sub{
	width:100%;
	height:100%;
	display:none;
	/*linear-gradient(to bottom, #EDEDED 5%, #DFDFDF 100% )*/
}



#wrapper_view_jobs{
	width:100%;
	height:100%;

	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:3;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}

#wrapper_view_browser{
	width:100%;
	height:100%;

	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:3;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}


#wrapper_view_about{
	width:100%;
	height:100%;

	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:3;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}


#wrapper_view_sniff{
	width:100%;
	height:100%;
	background-color:#fff;
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:5;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	color:#979797;
	font-size:1.4vw;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, #F0F0F0), color-stop(75%, white));
	background-image: -webkit-linear-gradient(bottom, #F0F0F0 49%, white 75%);
	background-image: linear-gradient(to top, #F0F0F0 49%, white 75%);
}


#wrapper_view_maps{
	width:100%;
	height:100%;
	background-color:#fff;
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:5;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}

#wrapper_view_videos{
	width:100%;
	height:100%;
	background-color:#fff;
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:5;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
}



#scroller_view_jobs {
	width:90vw;
	overflow:hidden;
	height:100%;
	padding:0;

}

#scroller_view_jobs ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s ;
}

#scroller_view_jobs li {
	text-align:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:16.6667vw; height:100%;
	border-right:1px solid black;
	font-family:georgia;
	position:relative;
	background-position:bottom center;
	-webkit-background-size:100% auto,100% 100%;
	background-size:100% auto,100% 100%;
	background-repeat:no-repeat;
	-webkit-transition:background-position 0.4s;
	transition:background-position 0.4s;
	-webkit-transition-delay:0.25s;
	transition-delay:0.25s;


}

#scroller_view_jobs li:nth-child(1){
	background-image:url("../img/job_kaufleute.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/job_kaufleute.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/job_kaufleute.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);

}

#scroller_view_jobs li:nth-child(2){
	background-image:url("../img/job_produktionsmechaniker.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/job_produktionsmechaniker.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/job_produktionsmechaniker.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
}

#scroller_view_jobs li:nth-child(3){
	background-image:url("../img/job_konstrukteur.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/job_konstrukteur.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/job_konstrukteur.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
}

#scroller_view_jobs li:nth-child(4){
	background-image:url("../img/job_polymechaniker.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/job_polymechaniker.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/job_polymechaniker.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
}


#scroller_view_jobs li div.blueTitleBox{
	position:absolute;
	bottom:0;
	-webkit-transition:padding 0.6s;
	transition:padding 0.6s;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba( 51, 51, 51, 0.7)), color-stop(75%, rgba( 51, 51, 51, 0.7)));
	background-image: -webkit-linear-gradient(bottom, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	background-image: linear-gradient(to top, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	--background: rgba( 41, 171, 226, 0.8);
	width:72%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	padding:14%;
	border-top:1px solid #aaaaaa;
	text-align:center;
}

#scroller_view_jobs li div.textRotate{
	-webkit-transform-origin:20% 50%;
	-ms-transform-origin:20% 50%;
	transform-origin:20% 50%;
	position:absolute;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	padding:10%;
	width:80%;
	text-align:center;
	color:white;
	bottom:0;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s ;
}





#scroller_view_jobs li div.textRotate span:nth-child(1){
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:1.2vw;
}

#scroller_view_jobs li div.textRotate span{
	font-size:1vw;
	color:white;
}

#scroller_view_about {
	width:116vw;
	overflow:hidden;
	height:100%;
	padding:0;

}



#scroller_view_about ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s ;
}


#scroller_view_about li {
	text-align:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block; float:left;
	width:16.6667vw; height:100%;
	border-right:1px solid black;
	font-family:georgia;
	position:relative;
	background-position:bottom right;
	-webkit-background-size:90% auto,100% 100%;
	background-size:90% auto,100% 100%;
	background-repeat:no-repeat;
	-webkit-transition:background-position 0.4s;
	transition:background-position 0.4s;
	-webkit-transition-delay:0.25s;
	transition-delay:0.25s;


}

#scroller_view_about li:nth-child(1) {
	background-image:url("../img/icon_portrait.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/icon_portrait.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/icon_portrait.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%)
}


#scroller_view_about li:nth-child(2) {
	background-image:url("../img/icon_bildungMAN.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/icon_bildungMAN.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/icon_bildungMAN.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%)
}


#scroller_view_about li:nth-child(3) {
	background-image:url("../img/icon_map.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/icon_map.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/icon_map.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%)
}


#scroller_view_about li:nth-child(4) {
	background-image:url("../img/icon_movie.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/icon_movie.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/icon_movie.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%)
}


#scroller_view_about li:nth-child(5) {
	background-image:url("../img/icon_link.png"), -webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:url("../img/icon_link.png"), -webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:url("../img/icon_link.png"),linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%)
}







#scroller_view_about li div.blueTitleBox{
	position:absolute;
	bottom:0;
	-webkit-transition:padding 0.6s;
	transition:padding 0.6s;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba( 51, 51, 51, 0.7)), color-stop(75%, rgba( 51, 51, 51, 0.7)));
	background-image: -webkit-linear-gradient(bottom, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	background-image: linear-gradient(to top, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	--background: rgba( 41, 171, 226, 0.8);
	width:72%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	padding:14%;
	border-top:1px solid #aaaaaa;
	text-align:center;
}

#scroller_view_about li div.textRotate{
	-webkit-transform-origin:20% 50%;
	-ms-transform-origin:20% 50%;
	transform-origin:20% 50%;
	position:absolute;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	padding:10%;
	width:80%;
	text-align:center;
	color:white;
	bottom:0;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s ;
}





#scroller_view_about li div.textRotate span:nth-child(1){
	font-weight:bold;
	font-size:1.2vw;
}

#scroller_view_about li div.textRotate span{
	font-size:1vw;
	color:white;
}

#main_view_2 {
	width:60%;
	height:100%;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgb(240,240,240)), color-stop(75%, rgb(255,255,255)));
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 49%, rgb(255,255,255) 75%);
	background-image: linear-gradient(to top, rgb(240,240,240) 49%, rgb(255,255,255) 75%);
	-webkit-transform:translateX(145%) translateZ(0);
	transform:translateX(145%) translateZ(0);
	-webkit-transition:-webkit-transform 0.6s;
	transition:transform 0.6s;
	background-color:#f1f1f1;
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:3;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	-webkit-box-shadow: -6px -0px 30px -3px black;
	box-shadow: -6px -0px 30px -3px black;
	border-left:1px solid black;
	/*
	border-radius:10px;
	*/

}
#wrapper_view_html{
	width:100%;
	height:100%;
}

#main_view_3 {
	width:60%;
	height:100%;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgb(240,240,240)), color-stop(75%, rgb(255,255,255)));
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 49%, rgb(255,255,255) 75%);
	background-image: linear-gradient(to top, rgb(240,240,240) 49%, rgb(255,255,255) 75%);
	-webkit-transform:translateX(145%) translateZ(0);
	transform:translateX(145%) translateZ(0);
	-webkit-transition:-webkit-transform 0.7s;
	transition:transform 0.7s;

	background-color:#f1f1f1;
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:5;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	-webkit-box-shadow: -6px -0px 30px -3px black;
	box-shadow: -6px -0px 30px -3px black;
	border-left:1px solid black;
	/*
	border-radius:10px;
	*/

}

#job_first_wrapper{

	width:57%;
	height:100%;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	-webkit-transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	float:left;

	  -webkit-animation: NAME-YOUR-ANIMATION 0.5s 1;

	  animation: NAME-YOUR-ANIMATION 0.5s 1;
	  delay:0s;
}

#job_first_wrapper h2 {
	font-size: 1.2vw;
	padding-top: 1rem;
	padding-bottom: 0.75rem;
}

#job_first_wrapper .subcategory {
	padding-left: 1.2rem
}

#job_first_wrapper h2.subcategory {
	font-size: 1vw;
	padding-left: calc(6% + 1rem);
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { -webkit-transform: translateX(100%); transform: translateX(100%); }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}

@keyframes NAME-YOUR-ANIMATION {
  0%   { -webkit-transform: translateX(100%); transform: translateX(100%); }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}


#job_second_wrapper{
	/*box-shadow: -6px -0px 30px -3px black;*/

	width:43%;
	height:100%;
	border-left:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba( 255, 255, 255, 1)), color-stop(70%, rgba( 178, 178, 178, 1)), color-stop(75%, rgba( 229, 229, 229, 1)), to(rgba( 249, 249, 249, 1)));
	background-image:-webkit-linear-gradient(top, rgba( 255, 255, 255, 1) 0%, rgba( 178, 178, 178, 1) 70%, rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	background-image:linear-gradient(to bottom, rgba( 255, 255, 255, 1) 0%,rgba( 178, 178, 178, 1) 70%,rgba( 229, 229, 229, 1) 75%, rgba( 249, 249, 249, 1) 100%);
	-webkit-transition:-webkit-transform 0.7s;
	transition:transform 0.7s;
	float:left;
	-webkit-animation: NAME-YOUR-ANIMATION-4 0.8s 1;
	animation: NAME-YOUR-ANIMATION-4 0.8s 1;
}

#job_second_wrapper img{
	width:480px;
}
@-webkit-keyframes NAME-YOUR-ANIMATION-4 {
  0%   { -webkit-transform: translateX(200%); transform: translateX(200%); }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}
@keyframes NAME-YOUR-ANIMATION-4 {
  0%   { -webkit-transform: translateX(200%); transform: translateX(200%); }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); }
}


#job_second_wrapper.jobs ul{
	width:200%;
	height:100%;
	list-style:none;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	-webkit-transition:-webkit-transform 0.7s;
	transition:transform 0.7s;
}

#job_second_wrapper.jobs ul img{
	width:100%;
}

.jobs{
	padding:0px;
	margin:0px;
}


#job_second_wrapper.jobs ul.jobs li{
	width:50%;
	height:100%;
	overflow:hidden;
	float:left;
}

.galleryBottomBox{
	position:absolute;
	bottom:0;
	-webkit-transition:padding 0.6s;
	transition:padding 0.6s;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(49%, rgba( 51, 51, 51, 0.7)), color-stop(75%, rgba( 51, 51, 51, 0.7)));
	background-image: -webkit-linear-gradient(bottom, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	background-image: linear-gradient(to top, rgba( 51, 51, 51, 0.7) 49%, rgba( 51, 51, 51, 0.7) 75%);
	--background: rgba( 41, 171, 226, 0.8);
	width:100%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	padding:11%;
	border-top:1px solid #aaaaaa;
	text-align:center;
	z-index:2;
}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	width:12%;
	padding-left:32%;
}

#indicator > li {
	text-indent:-9999em;
	width:18px; height:18px;
	border-radius:10px;
	background:#ddd;
	border:2px solid #f0f0f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba( 134, 134, 134, 1)), to(rgba( 193, 193, 193, 1)));
	background-image: -webkit-linear-gradient(top, rgba( 134, 134, 134, 1) 0%, rgba( 193, 193, 193, 1) 100%);
	background-image: linear-gradient(to bottom, rgba( 134, 134, 134, 1) 0%, rgba( 193, 193, 193, 1) 100%);
	overflow:hidden;
	margin-right:10px;
}

#indicator > li.active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba( 0, 153, 215, 1)), to(rgba( 0, 134, 188, 1)));
	background-image: -webkit-linear-gradient(top, rgba( 0, 153, 215, 1) 0%, rgba( 0, 134, 188, 1) 100%);
	background-image: linear-gradient(to bottom, rgba( 0, 153, 215, 1) 0%, rgba( 0, 134, 188, 1) 100%);
}

#indicator > li:last-child {
	margin:0;
}
#scroller_job_first_wrapper {
	width:100%;
	padding:0;

}


/*Talent Check /*
 *
 *
 */

.talent{
	background:#cbcbcb;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	color:#6a6a6a;
}

#talent_header{

	background:-webkit-gradient(linear, left top, left bottom, from(#ffd73a), to(#f7c500));

	background:-webkit-linear-gradient(top, #ffd73a 0%, #f7c500 100%);

	background:linear-gradient(to bottom,#ffd73a 0%, #f7c500 100%);
	height:25%;
}

#view_talent{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #ededed), to(#dfdfdf));
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient( to bottom, #ededed 5%, #dfdfdf 100% );
}
#talent_overview{
	width:16%;
	height:75%;
	margin-left:2%;
	float:left;

	//background:#cbcbcb;
	//background:linear-gradient( to bottom, #ededed 5%, #dfdfdf 100% );
}

#state_view{
	-webkit-transition:-webkit-transform 0.4s;
	transition:transform 0.4s;
	height:100%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#e20046;
}

#state_result_view{
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%);
	-webkit-transition:-webkit-transform 0.6s;
	transition:transform 0.6s;
	height:100%;
	font-size:1.6vw;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	color:#e40045;

}

#talent_percent{
	font-size:5.4vw;
}

#talent_answer{
	width:48.5%;
	height:75%;
	float:left;
	//background:#cbcbcb;
	//background:linear-gradient( to bottom, #ededed 5%, #dfdfdf 100% );

}

.answer_button{
	border:1px solid #c5c5c5;
	width:30%;
	height:21%;
	margin:1%;
	border-radius:3px;
	background-color:blue;
	float:left;
	text-align:center;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	color:#6a6a6a;
	font-size:1vw;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #e3e3e3), to(#d5d5d5));
	background:-webkit-linear-gradient(top, #e3e3e3 5%, #d5d5d5 100%);
	background:linear-gradient( to bottom, #e3e3e3 5%, #d5d5d5 100% );
	-webkit-transition:-webkit-box-shadow 1s,color 0.2s,-webkit-transform 0.2s;
	transition:box-shadow 1s,color 0.2s,transform 0.2s ;
	position:relative;
	-webkit-transform: scale(0.9) translateX(0%);
	-ms-transform: scale(0.9) translateX(0%);
	transform: scale(0.9) translateX(0%);
	opacity:0;
	-webkit-animation:talent_answer 1s;
	animation:talent_answer 1s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-delay:0s;
	animation-delay:0s;
	min-height:170px;

}

@-webkit-keyframes talent_answer{
  0%   { -webkit-transform: scale(0.9) translateX(100%); transform: scale(0.9) translateX(100%); opacity:0; }
  100% { -webkit-transform: scale(0.9) translateX(0%); transform: scale(0.9) translateX(0%); opacity:1;}
}

@keyframes talent_answer{
  0%   { -webkit-transform: scale(0.9) translateX(100%); transform: scale(0.9) translateX(100%); opacity:0; }
  100% { -webkit-transform: scale(0.9) translateX(0%); transform: scale(0.9) translateX(0%); opacity:1;}
}



#talent_answer div.answer_button:nth-child(3n-1){
	-webkit-animation-delay:0.15s;
	animation-delay:0.15s;
}

#talent_answer div.answer_button:nth-child(3n-2){
	-webkit-animation-delay:0s;
	animation-delay:0s;
}

#talent_answer div.answer_button:nth-child(3n){
	-webkit-animation-delay:0.3s;
	animation-delay:0.3s;
}


.answer_button_out{
	-webkit-animation:talent_answer_out 0.4s;
	animation:talent_answer_out 0.4s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

@-webkit-keyframes talent_answer_out{
  0%   {  opacity:1; }
  100% {  opacity:0;}
}

@keyframes talent_answer_out{
  0%   {  opacity:1; }
  100% {  opacity:0;}
}

.answer_text{
	font-size:1vw;
	position:absolute;
	bottom:10%;
	width:90%;
	text-align:center;
}
.answer_icon{
	background-position:center center;
	-webkit-background-size:90% auto;
	background-size:90% auto;
	background-repeat:no-repeat;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	font-size:3vw;
	/*background-position: 0vw -1.5vw;*/
	top:0;
	background-position: 0 85%;
}

.svgIcon{
	width:110%;
	margin-left:-5%;
	-webkit-transform:translateY(35%);
	-ms-transform:translateY(35%);
	transform:translateY(35%);
}

.answer_box{
	margin:10px;
	overflow:hidden;
}



.answer_button_active{
	-webkit-box-shadow: 0px -0px 10px 0px #e40045;
	box-shadow: 0px -0px 10px 0px #e40045;
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	//color:#e40045;
	//background:linear-gradient( to top, #ededed 5%, #dfdfdf 100% );

}

#question_text{
	margin-left:18.5%;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:3.5vw;
	padding-top:6%;
	font-weight:bold;
	color:white;



}

.question_text_ani{
	-webkit-animation: questionText 1.2s;
	animation: questionText 1.2s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

@-webkit-keyframes questionText{
  0%   { -webkit-transform: translateX(100%); transform: translateX(100%); opacity:0; }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1;}
}

@keyframes questionText{
  0%   { -webkit-transform: translateX(100%); transform: translateX(100%); opacity:0; }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1;}
}

.question_text_ani_end{
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation: questionText_end 0.6s;
	animation: questionText_end 0.6s;
	-webkit-animation-delay:0.2s;
	animation-delay:0.2s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@-webkit-keyframes questionText_end{
  0%   { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1; }
  100% { -webkit-transform: translateX(-40%); transform: translateX(-40%); opacity:0;}
}

@keyframes questionText_end{
  0%   { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1; }
  100% { -webkit-transform: translateX(-40%); transform: translateX(-40%); opacity:0;}
}


#question_xy{
	margin-top:3%;
	position:absolute;
	top:0.5%;
	left:1.5%;
	font-size:1.5vw;
	color:#e20046;
	-webkit-transition:opacity 0.3s;
	transition:opacity 0.3s;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#question_you_have{
	margin-top:40%;
	font-size:1.6vw;
}

#result_text{
	font-size:1.6vw;
}

#question_x{
	font-size:2.2vw;
	width:25%;
	float:left;
}


#question_left{
	height:21%;
	width:70%;
	float:left;
	font-size:1.6vw;
	line-height:1;
}

#result_score{
	font-size:2.2vw;
	width:25%;
	float:left;
}

#result_left{
	margin-top:3%;
	height:21%;
	width:70%;
	float:left;
	font-size:2.2vw;
}

#question_x_value{
	font-size:5.4vw;
}

#question_next{
	opacity:0.2;
	border:1px solid green;
	-webkit-transition:opacity 0.3s, color 0.3s;
	transition:opacity 0.3s, color 0.3s;

	border:1px solid #c5c5c5;
	width:70%;
	padding:1vw;
	margin:1%;
	position:absolute;
	bottom:22%;
	border-radius:5px;
	text-align:center;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	color:#6a6a6a;
	font-size:1.3vw;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #e3e3e3), to(#d5d5d5));
	background:-webkit-linear-gradient(top, #e3e3e3 5%, #d5d5d5 100%);
	background:linear-gradient( to bottom, #e3e3e3 5%, #d5d5d5 100% );

}

#button_sniff{
	margin-top:20%;
	border:1px solid green;
	color:#e20046;
	border:1px solid #c5c5c5;
	width:70%;
	padding:1vw;
	margin:1%;
	border-radius:5px;
	text-align:center;
	font-family:'MAN Global', Arial, Helvetica, sans-serif;
	font-size:1.3vw;
	text-shadow:1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #e3e3e3), to(#d5d5d5));
	background:-webkit-linear-gradient(top, #e3e3e3 5%, #d5d5d5 100%);
	background:linear-gradient( to bottom, #e3e3e3 5%, #d5d5d5 100% );

}

.resultSet{
	background: #cacaca;
	height:4%;
	width:90%;
	position:relative;
	-webkit-animation: show_result 1.2s;
	animation: show_result 1.2s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;

}

.spacer_talent_result{
	height:10%;
}

@-webkit-keyframes show_result{
  0%   { -webkit-transform: translateX(200%); transform: translateX(200%); opacity:0; }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1;}
}

@keyframes show_result{
  0%   { -webkit-transform: translateX(200%); transform: translateX(200%); opacity:0; }
  100% { -webkit-transform: translateX(0%); transform: translateX(0%); opacity:1;}
}

.image_talent{
	height:13%
}

.percentage > img{
	width:6vw;
	bottom:-1px;
	position:absolute

}
.percentage{
	-webkit-transition:width 2s;
	transition:width 2s;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
	height:100%;
	width:0%;
	position:relative;
	margin-bottom:10%;
	background:#e40045;
}

.jobName{
	position:absolute;
	color:white;
	bottom:3%;
	left:15%;
	font-size:1.2vw;
}


.accordion{
	overflow:hidden;
	height:2px;
	-webkit-transition:height 0.4s;
	transition:height 0.4s;
	background-image:url("../img/spacer.png");
	-webkit-background-size: 88% auto;
	background-size: 88% auto;
	background-position: bottom center;
	background-repeat: no-repeat
}




.vjs-control-bar {
	padding-right: 30px;
}
.vjs-fullscreen-control {
	display:none;
}

.twin-qr {
	transition: opacity ease-in 0.2s;
}
