#keyboard {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
	text-align: center;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;

}

#keyboard.opened {
	height: 290px;
}
#keyboard ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

#keyboard > ol {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
}

#keyboard ol ol {
	clear: left;
	float: left;
	margin-bottom: 3px;
}

#keyboard li li {
	float: left;
	width: 70px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(1px, #bbb), to(rgba(240, 240, 240, 0)));
	background-image: -webkit-linear-gradient(top, #fff 1px, #bbb 1px, rgba(240, 240, 240, 0));
	background-image: linear-gradient(to bottom, #fff 1px, #bbb 1px, rgba(240, 240, 240, 0));
	background-color: #efefef;
	color: #666;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.7);
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 3px;
	border-radius: 4px;
	-webkit-transition-property: background-color, color, background-image;
	transition-property: background-color, color, background-image;
	-webkit-transition-duration: 5ms;
	transition-duration: 5ms;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

#keyboard [data-key="space"] {
	width: 370px;
	margin-left: 228px;
}

#keyboard [data-key="spacer"] {
	pointer-events: none;
	visibility: hidden;
}

#keyboard li li.active {
	background-color: #aaa;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), color-stop(49px, #bbb), color-stop(49px, #fff));
	background-image: -webkit-linear-gradient(top, #efefef, #bbb 49px, #fff 49px);
	background-image: linear-gradient(to bottom, #efefef , #bbb 49px, #fff 49px);
	-webkit-transition-duration: 90ms;
	transition-duration: 90ms;
}

#keyboard li:nth-child(2) ol {
	margin-left: 15px;
}

#keyboard li:nth-child(3) ol {
	margin-left: 30px;
}form {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 70px 60px 0;
}

form ol {
	list-style: none;
	margin: 1em 0;
	padding:0;
}

form h2 {
	padding: 0;
	margin-bottom: 0.8em;
}


form h1 {
	padding: 0;
	margin-bottom: 0.8em;
	padding-bottom:0.5vw;
	-webkit-background-size:100% 1px;
	background-size:100% 1px;
}

form li {
	margin: 0;
	padding: 0;
}

label {
	float: left;
	width: 8em;
	font-size: 1.2vw;
}

input + label {
	float: none;
}

input:not([type="checkbox"]) {
	border: 1px solid #ccc;
	height: 15px;
	border-radius: 6px;
	padding: 10px;
	color:#e40045;
	width: 30em;
}

.invalid {
	-webkit-box-shadow: 0 0 7px rgba(255, 0, 0, 0.8);
	box-shadow: 0 0 7px rgba(255, 0, 0, 0.8);
}

form > div {
	margin-bottom: 5px;
	line-height: 35px
}

form input[type="checkbox"] {
	display: none;
}


form input[type="checkbox"] + label {

	width: auto;
	margin-bottom: 0.3em;
	display: inline-block;
	line-height: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

form input[type="checkbox"] + label:before {
	content: '-';
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(2px, #e3e3e3), to(#d5d5d5));
	background: -webkit-linear-gradient(top, #fff 1px, #e3e3e3 2px, #d5d5d5);
	background: linear-gradient(to bottom, #fff 1px, #e3e3e3 2px, #d5d5d5);
}

form input[type="checkbox"]:checked + label:before {
	content: '✓';
	color: #1dca21;
	//text-shadow:1px 1px 0px rgba(255, 255, 255, 0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(2px, #e3fbe3), to(#6a995f));
	background: -webkit-linear-gradient(top, #fff 1px, #e3fbe3 2px, #6a995f);
	background: linear-gradient(to bottom, #fff 1px, #e3fbe3 2px, #6a995f)
}
.formgroup {
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 50px;
}

form > div:first-of-type {
	float: none;
	margin-right: 0;
}

.formgroup h3 {
	color:#e40045;
	margin-top: 0;
}

.formgroup > div {
	margin-bottom: 0.5em;
}

.form-controls {
	clear: both;
}

.form-controls button {
	display: inline-block;
	font-size: 1.1vw;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 4px 20px;
	text-align: center;
	line-height: 25px;
	color: #6a6a6a;
	//text-shadow:1px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(2px, #e3e3e3), to(#d5d5d5));
	background: -webkit-linear-gradient(top, #fff 1px, #e3e3e3 2px, #d5d5d5);
	background: linear-gradient(to bottom, #fff 1px, #e3e3e3 2px, #d5d5d5);
}#map, #browser {
	height: 1080px;
	padding:0;
}

#map-overlay, #map-canvas, #toolbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map-canvas {
	height: 78%;
	width: 100%;
}

#toolbar {
	height: 22%;
	overflow: hidden;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#efefef));
	background-image: -webkit-linear-gradient(top, #e3e3e3, #efefef);
	background-image: linear-gradient(to bottom, #e3e3e3 , #efefef);
}

#toolbar ul {
	list-style: none;
	padding: 0;
	margin-top: 2%;
}

#toolbar p {
	line-height:1.2em;
	padding: 0px !important;
}

#toolbar img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

#toolbar .floating {
	float: right;
	margin-left: 0.5em;
}

#toolbar li {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	padding-top: 20px;
	width: 30.5%;
	height: 178px;
	margin:4px 1%;
	vertical-align: middle;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	color: #6a6a6a;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(2px, #e3e3e3), to(#d5d5d5));
	background: -webkit-linear-gradient(top, #fff 1px, #e3e3e3 2px, #d5d5d5);
	background: linear-gradient(to bottom, #fff 1px, #e3e3e3 2px, #d5d5d5);
	position: relative;
}

#toolbar #video-links {
	padding-left: 0.3%;
}

#toolbar #video-links li {
	width: 18.7%;
	margin-left: 0.3%;
	margin-right: 0.3%;
}

#toolbar li:last-child,
#toolbar #video-links li:last-child {
	margin-right: 0;
}

#toolbar li.active {
	-webkit-box-shadow: 0 0 10px 0 #e40045;
	box-shadow: 0 0 10px 0 #e40045;
}

#toolbar h3 {
	margin-top: 0;
	font-size: 1.1em;
	margin-bottom: 0;
	line-height: 1em;
	margin-bottom: 0.8em;
	color:#e40045;
}

#toolbar p {
	margin-bottom: 0;
	margin-top: 0.2em;
	font-size: 0.8em;
	text-shadow:none;
}

h1#firstHeading {
	font-size: 1em !important;
	margin:0px !important;
	padding:0.5em 0 !important;
	line-height: 1;
	color:#e40045;
	font-weight: bold;
}

#bodyContent address {
	padding: 0.5em 0;
	font-style: normal;
	font-family: inherit;
}

#browser-document, #player {
	border: 0;
	background-color: #fff;
	width: 100%;
	height: 78%;
}

#player {
	background-color: #000;
}
