
#map, #browser {
	height: 100%;
	padding:0;
}

#map-overlay, #map-canvas, #toolbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map-canvas {
	height: 85%;
	width: 100%;
}

#toolbar {
	height: 15%;
	overflow: auto;
}

#toolbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#toolbar p {
	line-height:1.2em;
	padding: 0px !important;
}

#toolbar img {
	float: left;
}

#toolbar li {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	width: 32%;
	height: 150px;
	margin-right:1.2%;
	vertical-align: middle;
	border: 1px solid #c5c5c5;
	border-radius: 10px;
	color: #6a6a6a;
	text-shadow:1px 1px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px, #fff), color-stop(2px, #e3e3e3), to(#d5d5d5));
	background: -webkit-linear-gradient(top, #fff 1px, #e3e3e3 2px, #d5d5d5);
	background: linear-gradient(to bottom, #fff 1px, #e3e3e3 2px, #d5d5d5);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.1s linear;
	transition: transform 0.1s linear;
}

#toolbar li:last-child {
	margin-right: 0;
}

#toolbar li.active {
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-box-shadow: 0 0 10px 0 #e40045;
	box-shadow: 0 0 10px 0 #e40045;
}

#toolbar h3 {
	margin-top: 0;
	margin-bottom: 0;
}

#toolbar p {
	margin-bottom: 0;
	margin-top: 0.5em;
}

h1#firstHeading {
	font-size: 1em !important;
	margin:0px !important;
	padding:0px !important;
}

#bodyContent address {
	font-style: normal;
}

#browser-document, #player {
	border: 0;
	background-color: #fff;
	width: 100%;
	height: 85%;
}

#player {
	background-color: #000;
}
