					<form action="">
						<h2>Anmeldung Infonachmittag</h2>
						<div class="formgroup">
							<div><label for="form-prename">Vorname</label><input name="prename" type="text" id="form-prename"></div>
							<div><label for="form-name">Nachname</label><input name="name" type="text" id="form-name"></div>
							<div><label for="form-zip">Strasse</label><input name="street" type="text" id="form-street"></div>
							<div><label for="form-zip">PLZ</label><input name="zip" type="text" id="form-zip"></div>
							<div><label for="form-city">Ort</label><input name="city" type="text" id="form-city"></div>
							<div><label for="form-email">Email</label><input name="email" type="email" id="form-email"></div>
							<div><label for="form-zip">Telefon</label><input name="tel" type="text" id="form-tel"></div>
						</div>
						<div class="formgroup right">
							<h3>Schulniveau</h3>
							<ol>
								<li><input type="checkbox" value="Sek A" name="school[]" id="form-school-seka"><label for="form-school-seka">Sek A</label></li>
								<li><input type="checkbox" value="Sek B" name="school[]" id="form-school-sekb"><label for="form-school-sekb">Sek B</label></li>
								<li><input type="checkbox" value="BEZ/Gymnasium" name="school[]" id="form-school-bez"><label for="form-school-bez">BEZ/Gymnasium</label></li>
								<li><input type="checkbox" value="10. Schuljahr" name="school[]" id="form-school-10"><label for="form-school-10">10. Schuljahr</label></li>
								<li><input type="checkbox" value="anderes" name="school[]" id="form-school-other"><label for="form-school-other">anderes</label></li>
							</ol>
						</div>
						<div class="formgroup">
							<h3>Interessiere mich für folgende/n Beruf/e</h3>
							<ol>
								<li><input type="checkbox"  value="Polymechaniker" name="job[]" id="form-job-poly"><label for="form-job-poly">Polymechaniker</label></li>
								<li><input type="checkbox"  value="Konstrukteur" name="job[]" id="form-job-konst"><label for="form-job-konst">Konstrukteur</label></li>
								<li><input type="checkbox"  value="Produktionsmechaniker" name="job[]" id="form-job-produktion"><label for="form-job-produktion">Produktionsmechaniker</label></li>
								<li><input type="checkbox"  value="Kaufmann/Kauffrau" name="job[]" id="form-job-kaufmann"><label for="form-job-kaufmann">Kaufmann/Kauffrau</label></li>
							</ol>
						</div>
						<div class="form-controls">
							<button type="submit">Anmeldung senden</button>
						</div>
					</form>
					<div id="formsend-confirm" style="display: none;">
						<h2>Danke für deine Anmeldung</h2>
					</div>
					<div id="keyboard"></div>




					<div id="browser">
						<div id="toolbar">
							<ul id="video-links">
								<li data-video="man.theora.ogv">
									<img src="images/toolbar/movie_1.jpg">
									<h3>MAN Energy Solutions</h3>
									<p>Engineering the Future</p>
								</li>
								<li data-video="movie2.webm">
									<img src="images/toolbar/movie_2.jpg">
									<h3>Zukunft braucht Herkunft</h3>
									<p>Die Geschichte von MAN</p>
								</li>
							</ul>
						</div>
						<video controls id="player" src="" autoplay></video>
					</div>


					<div id="browser">
						<div id="toolbar">
							<ul id="browser-links">
								<li data-url="http://www.mandieselturbo.com">
									<img src="images/toolbar/man-logo.png">
								</li>
								<li data-url="http://yousty.ch/lehrstellen/firmen/496-MAN-Diesel-Turbo-Schweiz-AG">
									<img src="images/toolbar/yousty.png">
								</li>
								<li data-url="http://www.tecmania.ch/de/firmenportraits/man-diesel-turbo-schweiz-ag">
									<img src="images/toolbar/tecmania.png">
								</li>
							</ul>
						</div>
						<iframe id="browser-document" src="about:blank"></iframe>
					</div>
