<div id="job_first_wrapper">
	<div id="scroller_job_first_wrapper">
			<h1>Infos zur Ausbildung bei der MAN Energy Solutions Schweiz AG</h1>

			<H2>4 verschiedene Berufe</H2>
			<div class="accordion">
				<div>
					<p>
						(insgesamt über 60 Lernende):
					</p>
					<ul class="paraList">
						<li>Konstrukteure (m/w)<br>jedes Jahr mehrere Lehrstellen</li>
						<li>Polymechaniker (m/w)<br>jedes Jahr mehrere Lehrstellen</li>
						<li>Produktionsmechaniker (m/w)<br>alle 2 Jahre 1 Lehrstelle</li>
						<li>Kaufleute (m/w)<br>jedes Jahr mehrere Lehrstellen</li>
					</ul>

				</div>
			</div>

			<H2>Ausbildungskonzept technische Berufe</H2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>1. und 2. Lehrjahr Grundausbildung im Ausbildungszentrum Winterthur</li>
						<li>3. und 4. Lehrjahr Schwerpunktausbildung bei MAN Energy Solutions Schweiz AG mit Unterstützung von über 40 Praxisausbildnern</li>
					</ul>

				</div>
			</div>

			<h2>Ausbildungskonzept kaufmännische Berufe</h2>
			<div class="accordion">
				<div class="test2">
					<ul class="paraList">
						<!--<li>4 Wochen Grundkurs im azo, Ausbildungszentrum Zürcher Oberland, Uster</li>-->
						<li>Rotation innerhalb der Abteilungen bei MAN Energy Solutions Schweiz AG</li>
					</ul>

				</div>
			</div>
			<h2>Berufsfachschule</h2>
			<div class="accordion">
				<div>
					<p>
						Während der gesamten Lehre Besuch der entsprechenden Berufsschule (Winterthur, Zürich oder Bülach).
					</p>

				</div>
			</div>
			<H2>Aufgaben Berufsbildung</H2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Gesamte Administration, Koordination, Organisation</li>
						<li>Ansprechperson für Lernende, Berufsbildner, Eltern, Ausbildungsstätten, Berufsschulen, Ämter und Verbände</li>
						<li>Rekrutierung, Einstellung, Einführung, Übertritte, Lehrabschluss</li>
						<li>Disziplinarverfahren und Überwachung von Leistungen und Verhalten der Lernenden</li>
						<li>Sitzungen und Einzelgespräche</li>
						<li>Organisation und Durchführung von Anlässen</li>
					</ul>


				</div>
			</div>

			<H2>Wiederkehrende Events</H2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Sekundarschul- und Studentenbesuche</li>
						<li>Schnuppertage Kaufleute</li>
						<li>Schnuppertage Konstrukteure</li>
						<li>Schnuppertage Polymechaniker</li>
						<li>Familientag</li>
						<li>Zukunftstag</li>
						<li>Berufsmesse</li>
						<li>Event für Lernende</li>
						<li>Abschlussfeier</li>
						<li>Elternabende</li>

					</ul>


				</div>
			</div>


	</div>


</div>
<div id="job_second_wrapper" class="jobs">
	<img src="img/about_ausbildung.jpg">
</div>

<script language="javascript">

	$(document).ready(function(){

		if(mainNavi!='about')
			helper = "#wrapper_view_html ";
		else{
			helper = "#job_first_wrapper ";
		}

		$("h2").on("click", function(){

			$(helper+".accordion").css("height", "2px");
			$(this).next().css("height", $(this).next().children().first().height());


		});

		myScroll_job = new iScroll('job_first_wrapper', {
			snap: false,
			momentum: true,
			hScrollbar: false,
			useTransition:false,
			zoom: false
		 });


		$(".accordion").css("transition-duration", "0.01s");
		$(helper+"h2").first().trigger("click");

		$(".accordion").on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
			$(".accordion").css("transition-duration", "0.3s");
		});




	});

</script>
