<div id="job_first_wrapper">
	<div id="scroller_job_first_wrapper">
			<h1>Firmenportrait<br>MAN Energy Solutions Schweiz AG</h1>

			<H2>Firmentätigkeit</H2>
			<div class="accordion">
				<div>
					<p>
						Entwicklung, Konstruktion und Produktion von Axial-, Radial-, Getriebe-, Pipeline- und Isothermkompressoren, Vakuumgebläsen, Dampfturbinen, Gasturbinen, Prozessgas-Schraubenkompressoren, Maschinenleitsystemen und Service-Dienstleistungen. Kompressoren und Turbinen, die als Einzelmaschinen oder komplette Maschinenstränge als massgeschneiderte Lösungen für anspruchsvolle Einsatzgebiete ausgeführt werden.
					</p>

				</div>
			</div>

			<H2>Schwerpunkte</H2>
			<div class="accordion">
				<div>
					<p>
						Die kontinuierliche Weiterentwicklung der Produkte ist eine der Ursachen für unseren Unternehmenserfolg. Umfangreiche Forschungs- und Entwicklungsprogramme, neuste Untersuchungsmethoden in eigenen Labors, die intensive Zusammenarbeit mit Institutionen und der kontinuierliche Dialog mit den Kunden sorgen dafür, dass unsere Kompressoren und Turbinen leistungsfähiger werden und immer länger im Einsatz sind.
					</p>
				</div>
			</div>

			<h2>Standorte</h2>
			<div class="accordion">
				<div class="test2">
					<p>
						Schweiz, Deutschland (Hauptsitz Augsburg), Dänemark, England, Frankreich, Italien, Nord- und Südamerika, Afrika, Indien, China und weitere Länder in Asien – insgesamt über 100 Standorte weltweit.
					</p>
				</div>
			</div>
			<h2>Mitarbeiter in der Schweiz</h2>
			<div class="accordion">
				<div>
					<p>
						800
					</p>
				</div>
			</div>
			<H2>Mitarbeiter weltweit</H2>
			<div class="accordion">
				<div>
					<p>
						14'400
					</p>

				</div>
			</div>

			<H2>Kontakt</H2>
			<div class="accordion">
				<div style="height:460px;">
					<table class="paraList" style="margin:0px;">
						<tr>
							<td style="width:50%;">
								<b>Sandro Toldo</b><br>
								Leiter Berufsbildung<br>
								Tel. 044 278 31 93<br>
								sandro.toldo@man-es.com<br><br>
							</td>
							<td>
								<b>Assistenz Berufsbildung</b><br>
								Tel. 044 278 36 13 <br>
								zuerich.berufsbildung@man-es.com
							</td>
						</tr>
						<tr>
							<td class="twin-qr">
								<img class="imgQR" src="img/qr_sandro.png"><br>
								vCard direkt auf das Smartphone!
							</td>
							<td class="twin-qr">
								<img class="imgQR" src="img/qr_assistenz.png"><br>
								vCard direkt auf das Smartphone!
							</td>

						</tr>
					</table>
					<p>




					</p>
				</div>
			</div>


	</div>


</div>
<div id="job_second_wrapper" class="jobs">
	<img src="img/about_man.jpg">
</div>

<script language="javascript">

	$(document).ready(function(){

		if(mainNavi!='about')
			helper = "#wrapper_view_html ";
		else{
			helper = "#job_first_wrapper ";
		}

		$("h2").on("click", function(){

			$(helper+".accordion").css("height", "2px");
			$(this).next().css("height", $(this).next().children().first().height());


		});

		myScroll_job = new iScroll('job_first_wrapper', {
			snap: false,
			momentum: true,
			hScrollbar: false,
			useTransition:false,
			zoom: false
		 });



		$(".accordion").css("transition-duration", "0.01s");
		if(mainNavi!='about')
			$(helper+"h2").last().trigger("click");
		else
			$(helper+"h2").first().trigger("click");



		$(".accordion").on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
			$(".accordion").css("transition-duration", "0.3s");
		});

		$('.twin-qr').on('click', function () {
			var self = $(this);

			self.css('opacity', 1);
			self.siblings('.twin-qr').css('opacity', 0.05);
		});



	});



</script>
