<div id="job_first_wrapper">
	<div id="scroller_job_first_wrapper">
			<h1>Produktionsmechaniker (m/w)<img class="imgQRJob" src="img/qr_produktionsmechaniker.png"></h1>

			<H2>Beruf in Kürze</H2>
			<div class="accordion">
				<div class="test">
					<ul class="paraList">
						<li>Verarbeitung von hochwertigem Stahl und anderen Metallen oder Kunststoffen auf Grund von technischen Zeichnungen</li>
						<li>Ausfertigung von Einzelteilen für Geräte, Instrumente und Maschinen</li>
						<li>Bedienung von modernen, computergesteuerten Maschinen für das Bohren, Drehen und Fräsen</li>
						<li>Wartung und Reparatur von Maschinen</li>
					</ul>
				</div>
			</div>

			<h2>Voraussetzungen</h2>
			<div class="accordion">
				<div class="test2">
					<ul class="paraList">
						<li>Sekundarschule B oder C</li>
						<li>Freude an Maschinenarbeit sowie Metallbearbeitung</li>
						<li>Handwerkliches Geschick</li>
						<li>Praktische Veranlagung</li>
						<li>Technisches Verständnis</li>
						<li>Räumliches Vorstellungsvermögen</li>
						<li>Exakte und sorgfältige Arbeitsweise</li>
						<li>Ausdauer und Geduld</li>
					</ul>
				</div>
			</div>

			<h2>Ablauf und Dauer (3 Jahre)</h2>
			<div class="accordion">
				<div>
					<span class="jobs_icon_maps" onclick='ManMap.showLinks(true, true, false)' data-page="wrapper_view_maps"><img id="jobs_icon_maps_img" src="img/button_maps.png"> </span>
					<ul class="paraList">
						<li>Berufsschule in Bülach</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Grundausbildung (1. Lehrjahr)</h2>
			<div class="accordion">
				<div class="subcategory">
					<p>Solide Grundausbildung im Ausbildungszentrum Winterthur (AZW)</p>
					<ul class="paraList">
						<li>Lehrlingslager</li>
						<li>Gute und enge Betreuung in der Einführungsphase</li>
						<li>Durchführung von Projektarbeiten in Gruppen mit gleichaltrigen Mitlernenden</li>
						<li>Gut ausgebildete Ausbildner mit viel Erfahrung im Umgang mit Jugendlichen</li>
						<li>Sehr gute Vorbereitung auf Teilprüfung</li>
						<li>Möglichkeiten für Stützkurse</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Schwerpunktausbildung (2. und 3. Lehrjahr)</h2>
			<div class="accordion">
				<div class="subcategory">
					<p>Vielseitige Schwerpunktausbildung mit Abteilungswechsel (MAN Energy Solutions)</p>
					<ul class="paraList">
						<li>Übernahme von Verantwortung</li>
						<li>Integration ins Team</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Spannende Abteilungen</h2>
			<div class="accordion">
				<div class="subcategory">
					<ul class="paraList">
						<li>Fertigung</li>
						<li>Prüfstand</li>
						<li>Lowspeed Montage</li>
					</ul>
				</div>
			</div>

			<h2>Anstellungsbedingungen</h2>
			<div class="accordion">
				<div>
					<table class="paraTable">
						<tr>
							<td>Lohn:</td>
							<td>
								1. Lehrjahr: 600 CHF<br>
								2. Lehrjahr: 750 CHF<br>
								3. Lehrjahr: 1'000 CHF
							</td>
						</tr>
					</table>
					<table class="paraTable">
						<tr>
							<td>Ferien:</td>
							<td>
								1. Lehrjahr: 7 Wochen<br>
								2. Lehrjahr: 6 Wochen<br>
								3. Lehrjahr: 5 Wochen
							</td>
						</tr>
					</table>
					<br>
				</div>
			</div>

			<h2>Benefits</h2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Kostenbeteiligung an Sprachaufenthalt bis zu 2000 CHF</li>
						<li>ZVV- Bonuspass (ÖV- Ticket Kanton ZH)</li>
						<li>Leistungsprämien (aufgrund der Noten aus Schule & Betrieb)</li>
						<li>Anstellungsvertrag nach Lehre (gegenseitigem Einverständnis)</li>
						<li>Gleitende, flexible Arbeitszeiten</li>
						<li>Lokale Lage (Escherwyss- Platz)</li>
						<li>Möglichkeiten für Ausland-Einsätze</li>
					</ul>
				</div>
			</div>

			<h2>Sonstiges</h2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Kostenübernahme Messmittelkoffer und gesamte Arbeitsausrüstung</li>
						<li>Interne Sitzungen und regelmässiger Austausch mit Fachkräften und anderen Lernenden</li>
						<li>Mitwirkung bei Events (Berufsmesse, Event für Lernende, Schulungen, Workshops)</li>
					</ul>
				</div>
			</div>

			<h2>Infonachmittag</h2>
			<div class="accordion">
				<div>
					<span class="jobs_icon_form"><img id="jobs_icon_form_img"  class="sniff" data-page="wrapper_view_sniff" src="img/button_anmeldeformular.png"> </span>
					<p><span class="sniff" data-page="wrapper_view_sniff">Melde dich hier für einen Infonachmittag an</span></p>
				</div>
			</div>

			<h2>Bewerbung</h2>
			<div class="accordion">
				<div>

					<table class="paraTable">
						<tr>
							<td>Zeipunkt:</td>
							<td>nach den Sommerferien für das kommende Jahr</td>
						</tr>
						<tr>
							<td>Form:</td>
							<td>
								per Post oder E-Mail
								<div class="linkBox">
									<span class='sniff' data-file='about_man.html' data-page='wrapper_view_html'>Kontakt & Firmenportrait</span><br>
									<span class='sniff' data-file='about_ausbildung.html' data-page='wrapper_view_html'>Berufsbildung bei MAN</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>Unterlagen:</td>
							<td>
								Bewerbungsbrief, Lebenslauf mit Foto,
								komplette Zeugnisse der Oberstufe, Multicheck
								oder Basic Check, Schnupperlehrbericht für den
								gewünschten Beruf

							</td>
						</tr>
					</table>
					<br>
				</div>
			</div>

	</div>


</div>
<div id="job_second_wrapper" class="jobs">
	<img src="img/produktionsmech.png">
	<div class="galleryBottomBox">
		&nbsp;
	</div>
	<!---
	<ul class="jobs">
		<li><img src="img/produktionsmechaniker1.jpg"></li>
		<li><img src="img/produktionsmechaniker2.jpg"></li>
	</ul>
	<div class="galleryBottomBox">
		<ul id="indicator">
			<li class="active">1</li>
			<li>2</li>
		</ul>
	</div>
	--->
</div>

<script language="javascript">

	$(document).ready(function(){

		if(mainNavi=='talent'){
			$(".jobs_icon_maps").hide();
			$(".jobs_icon_form").hide();
			$(".linkBox").hide();
			helper = "#wrapper_view_html ";
		}

		$("h2").on("click", function(){
			$(".accordion").css("height", "2px");
			$(this).next().css("height", $(this).next().children().first().height())
		});

		myScroll_job = new iScroll('job_first_wrapper', {
			snap: false,
			momentum: true,
			hScrollbar: false,
			useTransition:false,
			zoom: false
		 });

		/*
		myScroll_gallery = new iScroll('job_second_wrapper', {
			snap: true,
			momentum: false,
			hScrollbar: false,
			useTransition:false,
			zoom: false,
			onScrollEnd: function () {
				document.querySelector('#indicator > li.active').className = '';
				document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
			}
		 });

		 */
		$(".accordion").css("transition-duration", "0.01s");
		$("#job_first_wrapper h2").first().trigger("click");

		$(".accordion").on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
			$(".accordion").css("transition-duration", "0.3s");
		});

	});



</script>
