<div id="job_first_wrapper">
	<div id="scroller_job_first_wrapper">

			<h1>Kaufmann / Kauffrau
				<div class="multiple-qr-images">
					<img src="img/qr_kaufleute_m.png">
					<img class="random-hide" src="img/qr_kaufleute_w.png">
				</div>
			</h1>

			<H2>Beruf in Kürze</H2>
			<div class="accordion">
				<div class="test">
					<ul class="paraList">
						<li>Marketingmassnahmen umsetzen (Kommunikation)</li>
						<li>Buchhaltungsarbeiten wie Rechnungen ausstellen und bearbeiten</li>
						<li>Sitzungen, Anlässe und reisen organisieren</li>
						<li>Korrespondenz erledigen und Dokumente erstellen</li>
						<li>Kunden beraten und Aufträge abwickeln</li>
					</ul>
				</div>
			</div>

			<h2>Voraussetzungen</h2>
			<div class="accordion">
				<div class="test2">
					<ul class="paraList">
						<li>Sekundarschule A (erweiterte Anforderungen)</li>
						<li>Organisationstalent und Selbstständigkeit</li>
						<li>Ausdrucksgewandtheit, schriftlich und mündlich</li>
						<li>Kontaktfreudigkeit und Teamfähigkeit</li>
						<li>Freude an Fremdsprachen</li>
						<li>Sinn für Zahlen</li>
						<li>Verantwortungsbewusstsein und Zuverlässigkeit</li>
						<li>Interesse an wirtschaftlichen und technischen Zusammenhängen</li>
					</ul>
				</div>
			</div>

			<h2>Ablauf und Dauer (3 Jahre)</h2>
			<div class="accordion">
				<div>
					<span class="jobs_icon_maps" onclick='ManMap.showLinks(true, true, false)' data-page="wrapper_view_maps"><img id="jobs_icon_maps_img" src="img/button_maps.png"> </span>
					<ul class="paraList">
						<li>Berufsschule in Zürich (KVZ)</li>
						<li>BMS Besuch wird bewilligt und unterstützt</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Grundlagenseminar (4 Wochen)</h2>
			<div class="accordion">
				<div class="subcategory">
					<p>Grundlagenseminar im Ausbildungszentrum Winterthur (AZW)</p>
					<ul class="paraList">
						<li>Gute und enge Betreuung in der Einführungsphase</li>
						<li>Durchführung von Projektarbeiten in Gruppen mit gleichaltrigen Mitlernenden</li>
						<li>Gut ausgebildete Ausbildner mit viel Erfahrung im Umgang mit Jugendlichen</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Schwerpunktausbildung (1. bis 3. Lehrjahr)</h2>
			<div class="accordion">
				<div class="subcategory">
					<p>Vielseitige Schwerpunktausbildung mit Abteilungswechsel (MAN Energy Solutions)</p>
					<ul class="paraList">
						<li>Übernahme von Verantwortung</li>
						<li>Integration ins Team</li>
					</ul>
				</div>
			</div>

			<h2 class="subcategory">Spannende Abteilungen</h2>
			<div class="accordion">
				<div class="subcategory">
					<ul class="paraList">
						<li>Einkauf</li>
						<li>Verfkauf & Ersatzteilgeschäft</li>
						<li>Fertigung</li>
						<li>Finanz- und Rechnungswesen</li>
						<li>Aufragsabwicklung</li>
						<li>Personalwesen</li>
						<li>Qualitätsmanagement</li>
						<li>Empfang & Post</li>
					</ul>
				</div>
			</div>

			<h2>Anstellungsbedingungen</h2>
			<div class="accordion">
				<div>
					<table class="paraTable">
						<tr>
							<td>Lohn:</td>
							<td>
								1. Lehrjahr: 750 CHF<br>
								2. Lehrjahr: 950 CHF<br>
								3. Lehrjahr: 1'350 CHF
							</td>
						</tr>
					</table>
					<table class="paraTable">
						<tr>
							<td>Ferien:</td>
							<td>
								1. Lehrjahr: 7 Wochen<br>
								2. Lehrjahr: 6 Wochen<br>
								3. Lehrjahr: 5 Wochen
							</td>
						</tr>
					</table>
					<br>
				</div>
			</div>

			<h2>Benefits</h2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Kostenbeteiligung an Sprachaufenthalt bis zu 2000 CHF</li>
						<li>ZVV- Bonuspass (ÖV- Ticket Kanton ZH)</li>
						<li>Leistungsprämien (aufgrund der Noten aus Schule & Betrieb)</li>
						<li>Anstellungsvertrag nach Lehre (gegenseitigem Einverständnis)</li>
						<li>Gleitende, flexible Arbeitszeiten</li>
						<li>Vielsprachige Kommunikation auf Grund internationalem Unternehmen</li>
					</ul>
				</div>
			</div>

			<h2>Sonstiges</h2>
			<div class="accordion">
				<div>
					<ul class="paraList">
						<li>Interne Sitzungen und regelmässiger Austausch mit Fachkräften und anderen Lernenden</li>
						<li>Mitwirkung bei Events (Berufsmesse, Event für Lernende, Schulungen, Workshops)</li>
					</ul>
				</div>
			</div>

			<h2>Infonachmittag</h2>
			<div class="accordion">
				<div>
					<span class="jobs_icon_form"><img id="jobs_icon_form_img"  class="sniff" data-page="wrapper_view_sniff" src="img/button_anmeldeformular.png"> </span>
					<p><span class="sniff" data-page="wrapper_view_sniff">Melde dich hier für einen Infonachmittag an</span></p>
				</div>
			</div>
			<h2>Bewerbung</h2>
			<div class="accordion">
				<div>

					<table class="paraTable">
						<tr>
							<td>Zeipunkt:</td>
							<td>nach den Sommerferien für das kommende Jahr</td>
						</tr>
						<tr>
							<td>Form:</td>
							<td>
								per Post oder E-Mail<br>
								<div class="linkBox">
									<span class='sniff' data-file='about_man.html' data-page='wrapper_view_html'>Kontakt & Firmenportrait</span><br>
									<span class='sniff' data-file='about_ausbildung.html' data-page='wrapper_view_html'>Berufsbildung bei MAN</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>Unterlagen:</td>
							<td>
								Bewerbungsbrief, Lebenslauf mit Foto,
								komplette Zeugnisse der Oberstufe, Multicheck
								oder Basic Check, Schnupperlehrbericht für den
								gewünschten Beruf

							</td>
						</tr>
					</table>
					<br>
				</div>
			</div>
	</div>

</div>
<div id="job_second_wrapper" class="jobs">
	<img src="img/kv.png">
	<div class="galleryBottomBox">
		&nbsp;
	</div>
	<!---
	<ul class="jobs">
		<li><img src="img/kaufleute.jpg"></li>
		<li><img src="img/kaufleute2.jpg"></li>
	</ul>
	<div class="galleryBottomBox">
		<ul id="indicator">
			<li class="active">1</li>
			<li>2</li>
		</ul>
	</div>
	-->
</div>

<script language="javascript">

	$(document).ready(function(){

		if(mainNavi=='talent'){
			$(".jobs_icon_maps").hide();
			$(".jobs_icon_form").hide();
			$(".linkBox").hide();
			helper = "#wrapper_view_html ";
		}

		$("h2").on("click", function(){
			$(".accordion").css("height", "2px");
			$(this).next().css("height", $(this).next().children().first().height())
		});

		myScroll_job = new iScroll('job_first_wrapper', {
			snap: false,
			momentum: true,
			hScrollbar: false,
			useTransition:false,
			zoom: false
		 });

		 /*
		myScroll_gallery = new iScroll('job_second_wrapper', {
			snap: true,
			momentum: false,
			hScrollbar: false,
			useTransition:false,
			zoom: false,
			onScrollEnd: function () {
				document.querySelector('#indicator > li.active').className = '';
				document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
			}
		 });
		*/
		$(".accordion").css("transition-duration", "0.01s");
		$("#job_first_wrapper h2").first().trigger("click");

		$(".accordion").on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
			$(".accordion").css("transition-duration", "0.3s");
		});


	});

	if(Math.random() > 0.5) $('.random-hide').hide();


</script>
