<div id="job_first_wrapper">
	<div id="scroller_job_first_wrapper">
			<h1>Informatiker (m/w) </br> <span>Richtung Systemtechnik</span> <img class="imgQRJob" src="img/qr_informatiker.png"></h1>
			<H2>Beruf in Kürze</H2>
			<div class="accordion">
				<div class="test">
					<p>
						Praktische Erfahrung in diversen Bereichen:
					</p>
					<ul class="paraList">
						<li>PC-Support</li>
						<li>Web</li>
						<li>Netzwerk- und Systemmonitoring</li>
						<li>Systemadministration</li>
						<li>Netzwerk</li>
						<li>Datenbank</li>
						<li>Installation, Wartung und Reparatur von Informatikanlagen</li>
					</ul>
				</div>
			</div>

			<h2>Voraussetzungen</h2>
			<div class="accordion">
				<div class="test2">
					<ul class="paraList">
						<li>Sekundarschule A oder B</li>
						<li>Technisches Interesse und Verständnis</li>
						<li>Kontaktfreudigkeit und Teamfähigkeit</li>
						<li>Interesse an der Arbeit mit Computern, deren Zubehör und Software</li>
						<li>Sorgfältige und zuverlässige Arbeitsweise</li>
						<li>Logisch-abstraktes Denkvermögen</li>
						<li>Geduld und Konzentration</li>
					</ul>
				</div>
			</div>
			<h2>Ablauf und Dauer</h2>
			<div class="accordion">
				<div>
				<span class="jobs_icon_maps" onclick='ManMap.showLinks(false, false, true)' data-page="wrapper_view_maps"><img id="jobs_icon_maps_img" src="img/button_maps.png"> </span>
					<ul class="paraList">
						<li>4 Jahre</li>
						<li>1. Lehrjahr im azo, Ausbildungszentrum Zürcher Oberland, Uster</li>
						<li>Jahre 2 bis 4 bei MAN Energy Solutions Schweiz AG, Zürich</li>
						<li>Schule in Uster</li>
						<li>BMS-Besuch wird unterstützt</li>
					</ul>
				</div>
			</div>
			<h2>Anstellungsbedingungen</h2>
			<div class="accordion">
				<div>
					<table class="paraTable">
						<tr>
							<td>Lohn:</td>
							<td>1. Lehrjahr:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  600.–<br>2. Lehrjahr:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  750.–<br>3. Lehrjahr:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1'000.–<br>4. Lehrjahr:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  1'300.–</td>
						</tr>
						<tr>
							<td>Ferien:</td>
							<td>1. Lehrjahr: 7 Wochen <br>2. Lehrjahr: 6 Wochen<br>3. Lehrjahr: 5 Wochen<br>4. Lehrjahr: 5 Wochen<br></td>
						</tr>
						<tr>
							<td>Sonstiges:</td>
							<td>600.– Bücherentschädigung<br>ZVV-Jahresabo
								Kanton Zürich im 1./2. Lehrjahr<br>Bonus bei guten
								Schulnoten und Arbeitsleistungen<br></td>
						</tr>
					</table>
					<br>
				</div>
			</div>
			<h2>Infonachmittag</h2>
			<div class="accordion">
				<div>
					<span class="jobs_icon_form"><img id="jobs_icon_form_img"  class="sniff" data-page="wrapper_view_sniff" src="img/button_anmeldeformular.png"> </span>
					<p><span class="sniff" data-page="wrapper_view_sniff">Melde dich hier für einen Infonachmittag an</span></p>
				</div>
			</div>
			<h2>Bewerbung</h2>
			<div class="accordion">
				<div>

					<table class="paraTable">
						<tr>
							<td>Zeipunkt:</td>
							<td>nach den Sommerferien für das kommende Jahr</td>
						</tr>
						<tr>
							<td>Form:</td>
							<td>
								per Post oder E-Mail
								<div class="linkBox">
									<span class='sniff' data-file='about_man.html' data-page='wrapper_view_html'>Kontakt & Firmenportrait</span><br>
									<span class='sniff' data-file='about_ausbildung.html' data-page='wrapper_view_html'>Berufsbildung bei MAN</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>Unterlagen:</td>
							<td>
								Bewerbungsbrief, Lebenslauf mit Foto,
								komplette Zeugnisse der Oberstufe, Multicheck
								oder Basic Check, Schnupperlehrbericht für den
								gewünschten Beruf

							</td>
						</tr>
					</table>
					<br>
				</div>
			</div>

	</div>


</div>
<div id="job_second_wrapper" class="jobs">
	<img src="img/informatiker.png">
	<div class="galleryBottomBox">
		&nbsp;
	</div>
	<!---
	<ul class="jobs">
		<li><img src="img/informatiker1.jpg"></li>
	</ul>
	<div class="galleryBottomBox">
		<ul id="indicator">
			<li class="active">1</li>
			<li>2</li>
		</ul>
	</div>
	--->
</div>

<script language="javascript">

	$(document).ready(function(){

		if(mainNavi=='talent'){
			$(".jobs_icon_maps").hide();
			$(".jobs_icon_form").hide();
			$(".linkBox").hide();
			helper = "#wrapper_view_html ";
		}

		$("h2").on("click", function(){
			$(".accordion").css("height", "2px");
			$(this).next().css("height", $(this).next().children().first().height())
		});

		myScroll_job = new iScroll('job_first_wrapper', {
			snap: false,
			momentum: true,
			hScrollbar: false,
			useTransition:false,
			zoom: false
		 });
		 /*
		myScroll_gallery = new iScroll('job_second_wrapper', {
			snap: true,
			momentum: false,
			hScrollbar: false,
			useTransition:false,
			zoom: false,
			onScrollEnd: function () {
				document.querySelector('#indicator > li.active').className = '';
				document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
			}
		 });
		*/
		$(".accordion").css("transition-duration", "0.01s");
		$("#job_first_wrapper h2").first().trigger("click");

		$(".accordion").on("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
			$(".accordion").css("transition-duration", "0.3s");
		});


	});



</script>
